@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
body {
  background-color:rgb(96, 53, 148);
  color: white;
  font-size: 30px;
  display:flex;
  align-items:center;
  justify-content:center;
  height: 100%;  
  font-family: 'Cinzel Decorative', cursive;
  background-color: rgba(0,0,0,0.5);
    background-image: url("pxfuel1.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
  background-size:cover;
}
.btn-primary {
  border-color: #ffffff;
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Signika', sans-serif;
  font-weight: 700;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  outline: none;
  border: none;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  cursor: pointer;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  border-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-color: #dfdfdf;
}
